body {
    background: #fff;
    color: #333;
    font-size: 16px;
    font-family: Calibri;
    font-weight: 400;
    font-style: 400;
    position: sticky;

}

div {
    box-shadow: 1px 3px 5px #333;
    background: #fff000;
}
p {
    margin-bottom: 15px;
    font-size: 16px;
}